.nav-link {
    font-size: large;
    cursor: pointer;
  }
  
  .navbar-light .navbar-nav .nav-link.active {
    color: #007ACC
  }
.my-nav {
    border-radius: 15px;
    margin: 25px;
  }
.main {
  position: sticky; top: 0;
  z-index: 1;
  background-color: white;
  height: 200px;
}